I intend to post some exercises to some of my favorite text books on this site. These might include

<ul>
    <li>Probability and Computing: Randomization and Probabilistic Techniques in Algorithms and Data Analysis, 2nd, Mitzenmacher and Upfal,</li>
    <li>Information Theory, Inference and Learning Algorithms, MacKay,</li>
    <li>Pattern Recognition and Machine Learning, Bishop,</li>
    <li>Bayesian Data Analysis, 3rd, Gelman et. al.</li>
</ul>

Here you can find all my previous posts:
$partial("templates/post-list.html")$
